.toss{
background-image: url('../assets/images/bg.webp');
    height: 100vh;
    background-size: cover;
}
.header{
    width: 100%;
    padding: 20px 0;
    text-align: center;

    /* background: rgb(252,227,187);
    background: linear-gradient(203deg, rgba(252,227,187,1) 25%, rgba(222,185,137,1) 49%, rgba(180,133,68,1) 89%); */

.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    .img1{
        max-width:  300px;
        width: 40%;
        border-radius: 25px;
        padding: 20px 30px;
        display: block;
        
        border: 2px solid rgb(207,141,37);

    }
    .img2{
        max-width:  250px;
        width: 60%;
        display: block;

    }
}
}

.main-div{
    position: relative;
    /* height: 100%; */
    /* background: rgb(255,239,230);
    background: linear-gradient(189deg, rgba(255,239,230,1) 0%, rgba(225,179,115,1) 0%, rgba(226,181,119,1) 5%, rgba(205,138,37,1) 100%); */
   /* overflow: hidden !important; */
    .divider{
        background: rgb(207,141,37);
        /* border: 2px solid rgb(207,141,37); */
        border-radius: 10px;
        padding: 8px 0;
        max-width: 380px;
        width: 60%;
        display: inline-block;
        text-align: center;
        margin:  20px auto;
        position: absolute;
        left: 50%;
        color: #fff;
        transform: translatex(-50%);
    
    }
    .main-div-wrapper{
        padding-top: 100px;
        padding-bottom: 60px;
         width:80%;
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         align-items: center;
         /* flex-direction: column; */
         margin: auto;
         gap: 15px;

         .toss{
            color: #1a1915;
            background: rgb(207,141,37);
            background: linear-gradient(252deg, rgba(207,141,37,1) 17%, rgba(206,139,37,1) 29%, rgba(171,93,41,1) 67%);
            display: inline;
            height: 150px;
            width: 150px;
            border-radius: 30%;
            text-align: center;
            display: flex;
            align-items: center;
            border: 8px solid #b96d26;
            justify-content: center;
            transition: all ease 0.4s;
            font-size: 40px;
            font-weight: 600;
            color: #fff;
            &:hover{
                box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
                background-color: #57523c;
                transform: scale(1.01);
            }
            i{
                font-size: 27px;
               transition: all ease 0.4s;

                &:hover{
                   
                    transform: scale(1.1);
                }

            }
         }
    }
}